@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h1>Movies</h1>
@Html.ActionLink("Create New", "Create", "Movies", null, new { @class = "btn btn-primary"})
<br />

<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            Genre
        </th>
    </tr>

@foreach (var movie in Model) {
    <tr>
        <td>
            @Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, new { @class = "btn btn-link" })            
        </td>
        <td>
            @movie.Genre.Name
        </td>
    </tr>
}

</table>
