@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<br />
@Html.ActionLink("Create Movie", "Create", "Movies", null, new { @class = "btn btn-primary"})
<hr />
<br />

<table class="table table-striped" id="movies">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Release date</th>
            <th>Stock</th>
            <th>Genre</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts 
{
    <script src="~/Scripts/Custom/movieListScript.js"></script>
}
